// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

// Variables
@import 'variables';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    font-family: 'Noto Sans JP';
    margin: 0;
    color: rgba(0, 0, 0, 0.64);
    background-color: #ebebeb;
}

input {
    font-size: 16px !important;
}

.small-confirm {
    width: 100%;
    margin-top: 50%;
}
